<div class="bootstrap-wrapper">
    <div class="row">
        <div class="col-md-12">
            <h1>Add Question to <span style="font-weight: bold;">{{qTitle}}</span> Quiz</h1>
            <mat-card>
                <mat-card-header>
                    <mat-card-subtitle>
                        Enter the detail of the new question
                    </mat-card-subtitle>
                </mat-card-header>
                <mat-card-content>
                    <form (submit)="formSubmit()">
                        <!--content field-->
                        <mat-form-field class="w100">
                            <mat-label>Wirte Question Content</mat-label>
                            <textarea   
                                [(ngModel)] = "question.content"
                                name="content"
                                rows="8"  matInput placeholder="Enter here"></textarea>
                        </mat-form-field>
                        <!--options-->
                        <div class="row">
                            <div class="col-md-6">
                                <!--option1-->
                                <mat-form-field class="w100">
                                    <mat-label>Enter Option1</mat-label>
                                    <input
                                        [(ngModel)] = "question.option1"
                                        name="option1"  
                                        type="text" matInput>
                                </mat-form-field>
                            </div>
                              <div class="col-md-6">
                                <!--option2-->
                                <mat-form-field class="w100">
                                    <mat-label>Enter Option2</mat-label>
                                    <input
                                        [(ngModel)] = "question.option2"
                                        name="option2"   
                                        type="text" matInput>
                                </mat-form-field>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <!--option3-->
                                <mat-form-field class="w100">
                                    <mat-label>Enter Option3</mat-label>
                                    <input
                                         [(ngModel)] = "question.option3"
                                        name="option3"     
                                        type="text" matInput>
                                </mat-form-field>
                            </div>
                              <div class="col-md-6">
                                <!--option4-->
                                <mat-form-field class="w100">
                                    <mat-label>Enter Option4</mat-label>
                                    <input
                                        [(ngModel)] = "question.option4"
                                        name="option4"    
                                        type="text" matInput>
                                </mat-form-field>
                            </div>

                            <!--Answer -->
                            <mat-form-field class="W100">
                                <mat-label>Select Answer</mat-label>
                                <mat-select [(ngModel)] ="question.answer" name="answer"> 
                                    <mat-option *ngIf="question.option1"  [value]="question.option1">{{question.option1}}</mat-option>
                                    <mat-option  *ngIf="question.option2" [value]="question.option2" >{{question.option2}}</mat-option>
                                    <mat-option  *ngIf="question.option3" [value]="question.option3" >{{question.option3}}</mat-option>
                                    <mat-option  *ngIf="question.option4" [value]="question.option4" >{{question.option4}}</mat-option>
                                </mat-select>
                            </mat-form-field>

                            <div class="container text-center">
                                <button mat-raised-button class="admin-color1">Add</button>
                            </div>
                        </div>
                    </form>

                </mat-card-content>
            </mat-card>
        </div>
    </div>
</div>

