<div class="bootstrap-wrapper">
    <div class="container-fluid">
    
            <div *ngIf="href=='/admin/home' || href=='/admin'" class="col-md-3" class="fixing-container">
                <app-sidebar></app-sidebar>
               
            </div>
            <div *ngIf="href=='/admin/register' " class="col-md-3" class="fixing-container">
                <app-sidebar-account></app-sidebar-account>
               
            </div>
            <div style="width:80%" class="clol-md-9" class="fixing-container" id="second">

               <router-outlet></router-outlet> 
            </div>
    </div>
</div>
