<mat-card class="sidebar">
	<mat-action-list>
		<div mat-subheader>Menu</div>
		<button routerLink="/admin/home" mat-list-item><mat-icon mat-list-icon>home</mat-icon>Home</button>
		<button mat-list-item routerLink="/admin/profile">
			<mat-icon mat-list-icon>account_circle</mat-icon>
			View Accounts
		</button>
		<button mat-list-item  routerLink="/admin/register">
			<mat-icon mat-list-icon>add_circle</mat-icon>
			Add Accounts
		</button>
		<button mat-list-item routerLink="/admin/add-quiz">
			<mat-icon mat-list-icon>filter_alt</mat-icon>
			Look for Account
		</button>
        <button mat-list-item routerLink="/admin/add-quiz">
			<mat-icon mat-list-icon>edit</mat-icon>
			Edit Accounts
		</button>
       
	</mat-action-list>
  </mat-card>

