.welcome{
    text-align: center;
    margin-top: 10px;
    margin-left: 120px;
}
.infos{
    text-align: center;
    background-color: lightblue;
    position: relative;
    padding-top: 5px;
    padding-bottom: 5px;
   margin-top: 11%;
   margin-left: -12px;
   font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
   font-size: 12px;
   font-weight: 300;
   width: 1500px;
}